<section class="hero-bg ">
  <div class="container relative jcc d-flex" style="height: 526px; justify-content:center;">
    <div class="hero">
      {%- liquid
        assign title_length = section.settings.title_hero_bg | size
        assign paragraph_length = section.settings.paragraph_hero_bg | size
        assign title_btn_length = section.settings.title_btn_hero_bg | size
      -%}
      {% unless section.settings.title_hero_bg == blank %}
        {% if title_length <= 27 %}
          <h1 class="hero-head">{{ section.settings.title_hero_bg }}</h1>
        {% else %}
          {% render 'error', title_characters: 27 %}
        {% endif %}
      {% endunless %}
      {% unless section.settings.paragraph_hero_bg == blank %}
        {% if paragraph_length <= 242 %}
          <p class="hero-parag">{{ section.settings.paragraph_hero_bg }}</p>
        {% else %}
          {% render 'error', title_characters: 242 %}
        {% endif %}
      {% endunless %}
      {% unless section.settings.paragraph_hero_bg == blank %}
        {% if title_btn_length <= 46 %}
          <button class="button button-white" href="#">{{ section.settings.title_btn_hero_bg }}</button>
        {% else %}
          {% render 'error', title_characters: 46 %}
        {% endif %}
      {% endunless %}
    </div>
  </div>
</section>

{% style %}
  .hero-bg {
    background-image: url({{section.settings.hero_bg_bg_img|img_url:'1920x'}});
  }
{% endstyle %}

{% schema %}
{
  "name": "Hero bg",
  "settings": [
    {
      "type": "text",
      "id": "title_hero_bg",
      "label": "Enter title"
    },
    {
      "type": "textarea",
      "id": "paragraph_hero_bg",
      "label": "Enter paragraph"
    },
    {
      "type": "text",
      "id": "title_btn_hero_bg",
      "label": "Enter title btn"
    },
    {
      "type": "image_picker",
      "id": "hero_bg_bg_img",
      "label": "Upload background img"
    }
  ]
}
{% endschema %}
