<section>
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Soluta cum impedit aspernatur debitis beatae perferendis vel expedita ab sed quisquam quae ullam corrupti, sunt delectus, omnis provident, ipsam accusantium atque?
</section>

{% schema %}
  {
    "name": "main secting",
    "tag": "section",
    "class": "section",
    "settings": [],
    "presets": [
      {
        "name": "our secting"
      }
    ]
  }
{% endschema %}